<h1>Crying</h1>

{% schema %}
{
    "name": "Test - 1",
    "settings": [
            {
                "id": "test liquid",
                "type": "text",
                "label": "A reference for shopify"
            }
        ],
        "presets": [
            {
                "name": "Liquid Test",
                "category": "Reference"
            }
        ]
}
{% endschema %}